<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Battle Homepage</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <h1>Let's Battle!</h1>
  <h2>Enter names to play</h2>
  <form action="/names" method="post">
    <label for="player_1_name">
      Player 1
    <input type="text" required name="player_1_name">
    </label>
    <label for="player_2_name">
      Player 2
    <input type="text" required name="player_2_name">
  </label>
    <input type="submit" value="Submit">
  </form>
</body>
</html>